/* HyprVoid - Catppuccin Mocha Theme */
/* Waybar color variables */

@define-color background #1e1e2e;
@define-color foreground #cdd6f4;
@define-color accent #89b4fa;
@define-color inactive #313244;
@define-color text-secondary #bac2de;
