/* HyprVoid - Osaka Jade Theme */
/* Waybar color variables */

@define-color background #11221C;
@define-color foreground #e6d8ba;
@define-color accent #71CEAD;
@define-color inactive #214237;
@define-color text-secondary #C1C497;
